!!! Strict

%html
  %head
    %meta{"http-equiv".to_sym => "Content-Type", :content => "text/html; charset=utf-8"}
    %title
      Ipac
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'flot/jquery.flot'
    = csrf_meta_tag
  %body
    .container_12
      #header.grid_12
      .clear
      #sections.grid_12
        = yield
